.header {
  .top_bar {
    background-color: rgb(231,227,228);
    height: 50px;
    width: 100%;

    .social_column {
      padding-top: 0.5em;
      text-align: right;

      .social-text {
        color: $primary-color;
        font-size: 1.15em;
        font-weight: 500;
        margin-right: 1rem;
        vertical-align: top;
        padding-top: 0.5em;
      }
      .social-text,
      .social-icons {
        display: inline-block;

        a {
          margin-right: 0.5em;

          &:hover {
            text-decoration: none;
          }
        }
        i {
          font-size: 2.5em;
        }
      }
    }
  }

  .logo-holder {
    padding: 1em 0;
    a.logo {
      img {
        width: 70%;
      }
    }
  }

  .search-widget {
    padding: 2em 0;

    input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 2em;
      font-size: 1.15em;
      padding: 0.25em 0.5em;
      color: #555555;

      &:focus{
        outline: none;
      }
    }

    .btn.btn-default {
      display: none;
    }
  }

  .register-links {

    .content {
      a {
        img {
          display: none;
        }
      }
      .links {
        text-align: right;
        margin-top: 3em;

        a {
          font-size: 1.15em;
          color: $primary-color !important;
          font-weight: 500;
          padding: 0 !important;

          &:hover {
            text-decoration: none;
          }

          &:first-child {
            border-right: 1px solid $primary-color;
            padding-right: 1em !important;
            margin-right: 1em;
          }
        }


      }
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.navigation-wrapper {
  background-color: $primary-color;
}

// slider styles
.panel-slider {
  // margin-top: -0.3em;
  // disabled because of firefox

  .pane-ipbes-slideshow {
    // .panel-full-width .pane-content, .panel-dkan-front .pane-content
    .pane-content {
      margin: 0 !important;

      .flexslider {
        margin: 0;
        .slides {
          img {
            // max-height: 600px;
            height: auto;
          }

          li > a {
            position: absolute;
          }
        }

        .flex-direction-nav a:before {
          font-size: 35px;
          padding-left: 0.15em;
        }

        .flex-caption {
          background: $primary-color-light;
          padding: 2em 1em;
          position: absolute;
          width: 100%;
          bottom: 0;

          .flexslider-title {
            a {
              color: #ffffff;
              font-size: 2.3em;
              font-weight: 700;
            }
          }

          .call-to-action {
            a {
              color: #ffffff;
              font-size: 1.5em;
              text-align: center;
              width: 100%;
              display: block;
            }
          }
        }

        .flex-control-nav {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(tablet) {
  .hero-focus-areas {
    padding: 1em;
  }

  .news-item {
    margin-bottom: 1em;
  }
}

@include media-breakpoint-down(medium) {

  #block-dkan-sitewide-dkan-sitewide-user-menu .links a {
    display: inline-block;
  }
  .header {
    .register-links {
      margin-bottom: 1em;
    }
  }

  .navigation-wrapper {
    background-color: #ffffff !important;
  }

  .top-menu .navbar-default {
    background-color: #ffffff !important;
    border-color: #ffffff !important;

    .navbar-header {
      float: right;
      margin-top: -4em;
    }

    .navbar-nav>li>a {
      background-color: $primary-color;
    }
  }

  .top-menu .navbar-default .navbar-nav>li>a {
    background-color: #ffffff;
    color: #009390;
    border-left: 1px solid #e7e7e7;
  }

  .top-menu .navbar .dropdown-menu {
    margin-bottom: 0.5em;
  }


  .top-menu .navbar ul.menu li.expanded.dropdown.last .dropdown-menu {
    left: 0px !important;
  }

  .panel-slider {
    .pane-ipbes-slideshow {
      .pane-content {
        .flexslider {
          .flex-caption {
            .flexslider-title {
              a {
                font-size: 1.1em;
              }
            }
            .call-to-action {
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}
