@charset "UTF-8";

/* =========== MS: IPBES colours ============ */
/*
=== Primary colours ===
Grey: #676b5e
Teal: #0a8380
- Teal 50%: #84c2c1;
- Teal 33%: #aed6d6;
- Teal 25%: #c2e0e0
Green: #a5ae60
Blue: #002e5e
 === Secondary colours ===
Footer: #81857a
Purple: #562974
Orange: #d6490c
*/

/*# sourceMappingURL=nuboot_radix.style.css.map */

/* =========== BA: Style Views IPBES Themes ============*/
/*
.view-ipbes-themes .topic-icon,
.view-ipbes-themes .views-field {
    display: block;
    margin: 40px auto 10px;
    text-align: center;
    width: 100%;
  }
.view-ipbes-themes .topic-icon a::before {
    font-size: 7em;
    line-height: 1em;
  }
*/

/* =========== BA: More-link ============*/
/*
.more-link {
    position: absolute;
    right: 0;
    top: -48px;
    font-weight: bold;
    padding: 0.4375rem 1rem;
    text-transform: uppercase;
  }
.view.view-ipbesnews {
    position: relative
  }
.view.view-ipbes-front-page-events-list {
    position: relative
  }
.view.view-vacancies {
    position: relative
  }
*/

/* =========== MS: Bootstrap column wrapping fix ============*/

@media (min-width: 1200px) {
    .auto-clear.col-lg-1:nth-child(12n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear col-lg-2:nth-child(6n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-lg-3:nth-child(4n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-lg-4:nth-child(3n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-lg-6:nth-child(odd) {
        clear: left;
        /*        border-left: none*/
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .auto-clear.col-md-1:nth-child(12n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-md-2:nth-child(6n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-md-3:nth-child(4n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-md-4:nth-child(3n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-md-6:nth-child(odd) {
        clear: left;
        /*        border-left: none*/
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .auto-clear.col-sm-1:nth-child(12n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-sm-2:nth-child(6n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-sm-3:nth-child(4n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-sm-4:nth-child(3n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-sm-6:nth-child(odd) {
        clear: left;
        /*        border-left: none*/
    }
}
@media (max-width: 767px) {
    .auto-clear.col-xs-1:nth-child(12n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-xs-2:nth-child(6n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-xs-3:nth-child(4n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-xs-4:nth-child(3n+1) {
        clear: left;
        /*        border-left: none*/
    }
    .auto-clear.col-xs-6:nth-child(odd) {
        clear: left;
        /*        border-left: none*/
    }
}

/* =========== MS: Front page Hero panel ============ */
.front .pane-fieldable-panels-pane {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* =========== MS: Case Study / Tool and other nodes ============ */
.node-type-training-guidance h2.pane-title,
.node-type-assessment h2.pane-title,
.node-type-stm-events h2.pane-title,
.node-type-case-study h2.pane-title,
.node-type-toolsinstruments h2.pane-title,
.node-type-case-study h2.pane-title,
.node-type-toolsinstruments h2.pane-title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 10px 0;
}
node-type-training-guidance .radix-layouts-sidebar.panel-panel .panel-panel-inner,
.node-type-assessment .radix-layouts-sidebar.panel-panel .panel-panel-inner,
.node-type-stm-events .radix-layouts-sidebar.panel-panel .panel-panel-inner,
.node-type-case-study .radix-layouts-sidebar.panel-panel .panel-panel-inner,
.node-type-toolsinstruments .radix-layouts-sidebar.panel-panel .panel-panel-inner {
    background: hsl(0, 0%, 90%);
    padding: 15px;
    margin-top: 1em;
}
.node-type-training-guidance .pane-entity-field,
.node-type-assessment .pane-entity-field,
.node-type-stm-events .pane-entity-field,
.node-type-case-study .pane-entity-field,
.node-type-toolsinstruments .pane-entity-field {
    margin-bottom: 10px
}
.node-type-training-guidance .pane-entity-field:last-child,
.node-type-assessment .pane-entity-field:last-child,
.node-type-stm-events .pane-entity-field:last-child,
.node-type-case-study .pane-entity-field:last-child,
.node-type-case-study .pane-entity-field:last-child,
.node-type-toolsinstruments .pane-entity-field:last-child {
    margin-bottom: 0
}
.node-type-case-study .pane-content .field-name-body,
.node-type-toolsinstruments .pane-content .field-name-body {
    line-height: inherit
}
.node-type-case-study .field-name-field-images img,
.node-type-toolsinstruments .field-name-field-images img {
    margin-bottom: 10px
}
.panel-default {
    border-color: #c2e0e0!important;
    border-radius: 0;
}
.panel-default > .panel-heading {
    font-weight: bold;
    background-color: #c2e0e0!important;
    border-color: #c2e0e0!important;
    border-radius: 0;
    padding: 5px 10px;
}
.node-type-training-guidance .field,
.node-type-assessment .field,
.node-type-case-study .field,
.node-type-toolsinstruments .field {
    margin: 0 0 1em 0
}
.node-type-training-guidance .field.field-label-above .field-label,
.node-type-assessment .field.field-label-above .field-label,
.node-type-case-study .field.field-label-above .field-label,
.node-type-toolsinstruments .field.field-label-above .field-label,
.node-type-training-guidance .field:last-child,
.node-type-assessment .field:last-child,
.node-type-case-study .field:last-child,
.node-type-toolsinstruments .field:last-child {
    margin-bottom: 0
}
.node-type-training-guidance .field p,
.node-type-training-guidance .field li,
.node-type-assessment .field p,
.node-type-assessment .field li,
.node-type-case-study .field p,
.node-type-case-study .field li,
.node-type-toolsinstruments .field p,
.node-type-toolsinstruments .field li {
    margin-bottom: 0.5em
}
.node-type-training-guidance .field p:last-child,
.node-type-assessment .field p:last-child,
.node-type-assessment .field li:last-child,
.node-type-case-study .field p:last-child,
.node-type-case-study .field li:last-child,
.node-type-toolsinstruments .field p:last-child,
.node-type-toolsinstruments .field li:last-child {
    margin-bottom: 0
}
.node-type-training-guidance .field ul,
.node-type-assessment .field ul,
.node-type-toolsinstruments .field ul,
.node-type-case-study .field ul {
    margin: 0em;
    padding-left: 1em;
  }

/* =========== MS: Policy  sidebar menu block ============ */
/* =========== MS:  Views listing for Tools-Instruments / Assessments =========== */
.view-tools-and-instruments.view-display-id-panel_pane_1 .views-field-field-images, .view-id-assessments.view-display-id-panel_pane_1 .views-field-field-images {
    margin: 1em 0;
  }
.view-tools-and-instruments.view-display-id-panel_pane_1 .views-field-title h3,
.view-id-assessments.view-display-id-panel_pane_1 .views-field-title h3 {
    margin-bottom: 15px;
  }
@media (min-width: 600px) {
    .view-id-case_studies.view-display-id-panel_pane_1 .views-field-field-images,
    .view-tools-and-instruments.view-display-id-panel_pane_1 .views-field-field-images,
    .view-id-assessments.view-display-id-panel_pane_1 .views-field-field-images {
        float: left;
        margin: 0 1em 1em 0;
      }
    }
    #edit_field_training_type_tid_chosen.form-select {
      width: auto!important
    }
    a.flag.flag-action.flag-link-confirm {
    padding: 5px 12px;
    line-height: 1.4em;
    border-radius: 4px;
    background-color: #676C5F;
    border: 1px solid #676C5F;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    margin: 1em 0;
  }
  a.flag.flag-action.flag-link-confirm:hover {
    background-color: #a5ae60;
    border-color: #a5ae60;
    text-decoration: none;
  }
/* =========== MS:  Policy support =========== */
.main #panels-ipe-display-panelizer-node-15783-default-17957 .pane-custom,
.main #panels-ipe-display-panelizer-node-15783-default-17957 .pane-fieldable-panels-pane {
    margin: 0 0 1em 0;
  }
#panels-ipe-display-panelizer-node-15783-default-17957 h1 {
    border: none;
    font-size: 30px;
    margin: 1em 0 0 0;
}
#panels-ipe-display-panelizer-node-15783-default-17957 .pane-title {
    border: none;
    font-size: 24px
}
#panels-ipe-paneid-731 {
    width: 100%;
    float: none;
    clear: both
}
#panels-ipe-display-panelizer-node-15783-default-17957 .pane-block {
    position: relative;
    padding-left: 0;
}
#panels-ipe-display-panelizer-node-15783-default-17957 blockquote {
    color: #fff;
    margin: 0;
    padding: 10px 10px 5px 10px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background: rgba(10, 131, 128, 0.66);
    display: block;
    width: auto;
}
#panels-ipe-display-panelizer-node-15783-default-17957 blockquote h2 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 5px 0px;
    padding: 0;
}
#panels-ipe-display-panelizer-node-15783-default-17957 blockquote h2 a {
    color: #fff;
}
#panels-ipe-display-panelizer-node-15783-default-17957 blockquote p {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
    margin: 0px 0px 5px 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-out;
}
#panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-portlet-wrapper:hover blockquote p {
    display: block;
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.pane-content .field-name-body {
    line-height: 1.4
}
#panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-sort-container {
    width: 101.5%
}
#panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-portlet-wrapper {
    margin-right: 1.5%
}
#panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-portlet-marker .heading {
    clear: both;
    float: none;
    width: 100%
}
#panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-portlet-marker .heading h1 {
    border: none;
    font-size: 24px;
    margin: 1em 0 0 0;
}
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-738.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-739.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-740.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-741.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-742.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-743.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-744.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-741.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-745.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-746.panels-ipe-portlet-marker,
#panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-747.panels-ipe-portlet-marker {
    width: 31.5%;
    float: left;
    margin-right: 1.5%
}
@media (max-width: 990px) {
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-738.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-739.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-740.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-741.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-742.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-743.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-744.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-741.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-745.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-746.panels-ipe-portlet-marker,
    #panels-ipe-display-panelizer-node-15783-default-17957 #panels-ipe-paneid-747.panels-ipe-portlet-marker {
        width: 48.5%;
    }
}
@media (max-width: 650px) {
    #panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-sort-container {
        width: 100%
    }
    #panels-ipe-display-panelizer-node-15783-default-17957 .panels-ipe-portlet-marker {
        width: 100%!important;
        float: none!important;
        margin-right: 0%!important;
    }
}
/* =========== MS:  Policy search block =========== */

aside.sidebar section.block.block-views-exp-policy-support-index-page {}
/*
@media all and (min-width: 992px) {
    section.block#block-views-exp-policy-support-index-page .views-exposed-form .views-exposed-widget.views-submit-button {
        margin: 0;
        padding: 0.5em 0 0 0.5em;
        float: right;
    }
    section.block#block-views-exp-policy-support-index-page .form-control.form-text {
        width:100%
    }
}
*/

/* =========== MS:  Policy search page =========== */

.view-policy-support-index.view-display-id-page .views-field-nothing {
    margin: 0.5em 0;
    font-size: 90%
}
.pane-content #views-exposed-form-policy-support-index-page {
    font-size: 15px;
    line-height: 1.25em;
    background: #c2e0e0;
    padding: 10px;
    margin: 0 0 15px 0
}
.pane-content #views-exposed-form-policy-support-index-page .views-exposed-widget.views-reset-button {
    display: none
}
@media all and (min-width: 600px) {
    .pane-content #views-exposed-form-policy-support-index-page .views-exposed-widget.views-widget-filter-search_api_views_fulltext {
        width: 85%
    }
    .pane-content #views-exposed-form-policy-support-index-page .views-exposed-widget.views-submit-button {
        width: 15%
    }
}

/* =========== MS: Policy view ============*/

.policy-display .view-content {
  display: Flex;
  flex-wrap: wrap;
}
/* Grouping titles*/
.policy-display .view-content>h3 {
  clear: both;
  float: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.policy-display .views-row {
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 6px;
  border-top: 1px #dedede solid;
}
.policy-display .views-row .views-field {
  font-size: 15px;
  line-height: 1.25em;
  margin-bottom: 0.15em;
}
.views-field-field-images {
  float: none;
  clear: both;
}
@media (min-width: 600px) {
  .policy-display .pagination.pager {
    display: block;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .policy-display .view-content {
    display: block;
    flex-wrap: nowrap
  }
  .policy-display .views-row {
    clear: both;
    float: none;
    width: 100%;
  }
}

/* =========== MS: Views exposed apply buttons ============ */
#views-exposed-form-search-index-page {} .views-exposed-widget.views-submit-button input,
.views-exposed-widget.views-submit-button input:hover {
    background-color: #676C5F;
    background-image: url('../img/search.png')!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%!important;
    background-size: 1em!important;
    text-indent: -999px;
    padding-left: 1.25em;
    padding-right: 1.25em;
}
.views-exposed-widget.views-submit-button input:hover {
    background-color: #a5ae60!important;
}

/* =========== MS: Site wide search block ============ */
#views-exposed-form-search-index-page {
    padding-top: 1em
}
#views-exposed-form-search-index-page label {
    display: none
}
#views-exposed-form-search-index-page .views-exposed-form .views-exposed-widget.views-submit-button {
    padding-top: 0.5em
}

/* =========== MS: Formblock content type blocks ============ */
.block-formblock fieldset.filter-wrapper .panel-body {
    font-size: 12px;
    padding: 0
}
.block-formblock fieldset.filter-wrapper .panel-body ul li {
    line-height: 1.2;
    margin: 0!important;
}
.block-formblock .form-control.form-select {
    width: auto
}
.block-formblock .form-item:not(.checkbox):not(.form-type-managed-file):not(.form-type-textfield)>label,
.block-formblock .form-item-title >label {
    font-size: 120%;
    margin-top: 15px;
    display: block;
}
.block-formblock .description {
    margin-bottom: 10px
}
/* =========== MS: Policy support search results ============ */
.view-policy-support-index .policy-thumbnail {
    float: left;
    margin: 0 1em 1em 0
}
.view-policy-support-index .views-field-nothing {
    clear: both
}
/* =========== MS: Policy support search text input/apply/reset buttons ============ */

@media (min-width: 768px) {
    #block-views-exp-policy-support-index-page .views-exposed-form .views-exposed-widget.views-widget-filter-search_api_views_fulltext {
        width: 600px
    }
}
#block-views-exp-policy-support-index-page .views-exposed-form .views-exposed-widget.views-submit-button {
    margin: 0;
    padding: 2.1em .5em 0 0;
    float: left;
}
/* =========== MS: Policy support search facet tabs ============ */

.page-policy-support-index .view-header hr {
    margin-top: 0
}
.block-facetapi h2,
.block-facetapi .fieldset-legend {
    font-weight: bold;
    font-size: 16px;
}
.block-facetapi {
    margin: 10px 0;
}
.block-facetapi .item-list li,
.block-facetapi .item-list ul.facetapi-facetapi-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
.block-facetapi .item-list li {
	font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.block-facetapi li {
    background: #FFFFFF;
    color: #676C5F;
    padding: 6px 15px;
}
.block-facetapi li:hover {
  text-decoration: none;
}
.block-facetapi li:hover a {} .block-facetapi li input[type="checkbox"] {
    margin-right: 0.3em;
}
.block-facetapi li a.facetapi-active {
  display: inline-block!important;
}

/* =========== MS: Policy facet collapsible heading ============ */

html.js .block-facetapi fieldset.collapsed,
html.js .block-facetapi fieldset {
    border: none!important;
}
.block-facetapi fieldset {
    border: none!important;
}
html.js .block-facetapi fieldset legend {
    margin: 0px 0 0.5em 0;
    float: none;
}
html.js .block-facetapi fieldset .fieldset-legend {
    background-image: none !important;
    padding: 0px 0 0 0;
    margin: 0px 0 0 0;
    float: none;
}
html.js .block-facetapi fieldset.collapsible .fieldset-legend a:active,
html.js .block-facetapi fieldset.collapsible .fieldset-legend a:focus {
    text-decoration: none;
    color: #098380;
}
html.js .block-facetapi fieldset.collapsible .fieldset-legend:before {
    color: #098380;
    content: "\2013";
    padding-right: 1px
}
html.js .block-facetapi fieldset.collapsed .fieldset-legend:before {
    color: #098380;
    content: "\002b";
    padding-right: 0px
}
html.js .block-facetapi fieldset.collapsible .fieldset-wrapper {
    padding: 0 13px;
    margin: 0 3px;
    border-left: 2px solid #098380;
}
/* =========== MS: Back to top ============ */

#back-top span#button {
    background-color: #098380;
    border: 1px solid #ffffff
}
#back-top span#button:hover {
    background-color: #337ab7;
}
/* =========== MS: Updated policy support ============ */

.page-policy-support-test .policy-thumbnail {
    float: left;
    margin: 0 1em 1em 0;
  }
.view-policy-support-index .views-field-nothing {
    clear: both;
  }

/* --- filters --- */
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_policy_support_type {
  width: 100%;
  padding-bottom: 10px;
}
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_policy_support_type .form-type-bef-checkbox {
    display: inline-block;
    padding-right: 0.66em;
}
#views-exposed-form-policy-support-index-test-page .panel-default>.panel-heading {
    font-size: 14px;
}
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_sub_region,
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_ncp,
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_units_analysis,
#views-exposed-form-policy-support-index-test-page .views-widget-filter-field_issues {
    width: 100%;
}
@media (min-width: 768px) {
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-field_sub_region,
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-field_ncp {
        width: 45%;
        float: left
    }
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-field_units_analysis,
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-field_issues {
        width: 55%;
        float: left
    }
}
#views-exposed-form-policy-support-index-test-page .panel {
    margin-bottom: 5px;
}
#views-exposed-form-policy-support-index-test-page .bef-select-as-checkboxes-fieldset .panel-body {
    padding: 5px
}
#views-exposed-form-policy-support-index-test-page .views-exposed-form .bef-checkboxes * {
    font-weight: normal;
    font-size: 13px;
}
#views-exposed-form-policy-support-index-test-page .views-exposed-form .form-item-field-policy-support-type label {
    font-weight: bold!important;
    font-size: 15px!important;
}
#views-exposed-form-policy-support-index-test-page .views-widget-filter-search_api_views_fulltext {
    clear: both;
    width: 85%;
    padding: 0em 1em 0 0;
}
#views-exposed-form-policy-support-index-test-page .views-exposed-widgets {
    position: relative;
}
#views-exposed-form-policy-support-index-test-page .views-submit-button,
#views-exposed-form-policy-support-index-test-page .views-reset-button {
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 85%
}
#views-exposed-form-policy-support-index-test-page .views-reset-button {
    left: 90%
}
@media (max-width: 990px) {
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-search_api_views_fulltext {
        width: 80%
    }
    #views-exposed-form-policy-support-index-test-page .views-submit-button {
        left: 81%
    }
    #views-exposed-form-policy-support-index-test-page .views-reset-button {
        left: 90%
    }
}
@media (max-width: 600px) {
    #views-exposed-form-policy-support-index-test-page .views-widget-filter-search_api_views_fulltext {
        width: 70%
    }
    #views-exposed-form-policy-support-index-test-page .views-submit-button {
        left: 71%
    }
    #views-exposed-form-policy-support-index-test-page .views-reset-button {
        left: auto;
        right: 0;
    }
}
/* =========== MS: Policy support background block ============ */

.page-node-15783 .background-wrapper .page-header {
  padding: 10px 15px;
  margin: 20px 0 15px;
  border-bottom: none;
  background: #fff;
}
.page-node-15783 .breadcrumb {
  margin-top: 15px;
}
.page-node-15783 .region-help .block.block-views {
  background: #fff;
  padding: 15px 15px 0 15px;
  margin: 15px 0;
}
.page-node-15783 .background-wrapper {
  background: url('../img/policy-suuport-search-bg.jpg') no-repeat center center fixed;
  padding: 0 0 15px 0;
}

html.js .collapsible-filters fieldset.collapsed,
html.js .collapsible-filters fieldset {
    border: none!important;
}
.collapsible-filters fieldset {
    border: none!important;
}
.collapsible-filters fieldset.panel-default > .panel-heading {
    background-color: #fff!important;
    border: none!important;
}
html.js .collapsible-filters fieldset legend {
    margin: 0px 0 0.25em 0;
    float: none;
    padding: 0px;
    line-height: 1.2;
}
html.js .collapsible-filters fieldset .fieldset-legend {
    background-image: none !important;
    background-color: #fff;
    padding: 0px 0 0 0;
    margin: 0px 0 0 0;
    float: none;
}
html.js .collapsible-filters fieldset.collapsible .fieldset-legend a:active,
html.js .collapsible-filters fieldset.collapsible .fieldset-legend a:focus {
    text-decoration: none;
    color: #098380;
}
html.js .collapsible-filters fieldset.collapsible .fieldset-legend:before {
    color: #098380;
    content: "\2013";
    padding-right: 1px
}
html.js .collapsible-filters fieldset.collapsed .fieldset-legend:before {
    color: #098380;
    content: "\002b";
    padding-right: 0px
}
html.js .collapsible-filters fieldset.collapsible .fieldset-legend {
    text-indent: -12px;
    margin-left: 12px
}
html.js .collapsible-filters fieldset.collapsible .fieldset-wrapper {
    padding: 0 1px;
    margin: 0 3px;
    border-left: 2px solid #098380;
}
/* =========== MS: Policy support full node images ============ */

.node-type-training-guidance .field-type-text-with-summary,
.node-type-assessment .field-type-text-with-summary,
.node-type-case-study .field-type-text-with-summary,
.node-type-toolsinstruments .field-type-text-with-summary {
  clear: left
}
.node-type-training-guidance .field:not(.field-type-text-with-summary),
.node-type-assessment .field:not(.field-type-text-with-summary),
.node-type-case-study .field:not(.field-type-text-with-summary),
.node-type-toolsinstruments .field:not(.field-type-text-with-summary),
.node-type-training-guidance fieldset,
.node-type-assessment fieldset,
.node-type-case-study fieldset,
.node-type-toolsinstruments fieldset {
  clear: both
}
@media (min-width: 600px) {
    .view-policy-support-images .views-field-field-images {
        float: right;
        clear: right;
        margin: 0 0 1em 1em;
        max-width: 50%;
    }
}

/* =========== MS: Policy support search back button ============ */
.block-views-linker {
  padding-bottom: 1em;
}
.block-views-linker a,
.block-views-linker a:visited {
    background-color: #676C5F;
    border: 1px solid #676C5F;
    color: #ffffff;
    padding: 5px 12px;
    line-height: 1.4em;
    border-radius: 4px;
    text-decoration: none!important
}
.block-views-linker a:active,
.block-views-linker a:hover {
    background: #A4AD5F;
    border: 1px solid #A4AD5F;
    color: #ffffff;
    text-decoration: none!important
}
/* =========== MS: I am an export button ============ */

#block-views-i-am-expert-button-block {
    background: #fff;
    padding: 0px;
    border-bottom: none;
    margin-bottom: 0;
}
.flag-expert .flag-link-toggle {position: relative;}

.flag-expert a.flag-link-toggle,
.flag-expert a.flag-link-toggle:visited {
    background-color: #676C5F;
    border: 1px solid #676C5F;
    color: #ffffff!important;
    display: block;
    padding: 5px 12px 5px 2.33em;
    line-height: 1.2em;
    border-radius: 4px;
    text-decoration: none!important;
    text-transform: lowercase;
}
.flag-expert a.flag-link-toggle:active,
.flag-expert a.flag-link-toggle:hover {
    background: #A4AD5F;
    border: 1px solid #A4AD5F;
    color: #ffffff!important;
    text-decoration: none!important
}
.flag-expert .flag-link-toggle::first-letter {
    text-transform: uppercase;
}

.flag-link-toggle:after {
    position: absolute;
    top: 20%;
    display: inline-block;
    left:6px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:150%;
    margin-right:6px;
}

.flag-link-toggle.unflag-action:after {
    content: "\e014";
}
.flag-link-toggle.flag-action:after {
    content: "\e013";
}

/* =========== MS: Policy support user links ============ */

.page-node-15783 .user-links {
    margin: 0;
    padding: 0;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.page-node-15783 .user-links li {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    display: inline-block;
    ;
}
@media (min-width: 600px) {
    .page-node-15783 .user-links {
        display: flex;
        justify-content: space-around;
    }
    .page-node-15783 .user-links li {
        padding: 0;
    }
}
.page-node-15783 .user-links li a {
    font-weight: bold;
    font-size: 16px;
}
/* =========== MS: Image Paragraph bundles ============ */

.entity.entity-paragraphs-item.paragraphs-item-image {
    position: relative;
}
.entity.entity-paragraphs-item.paragraphs-item-image .overlay-wrapper {
    color: #fff;
    margin: 0;
    padding: 10px 10px 5px 10px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background: rgba(10, 131, 128, 0.66);
    display: block;
    width: auto;
}
.entity.entity-paragraphs-item.paragraphs-item-image .overlay-wrapper h2 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 5px 0px;
    padding: 0;
}
.entity.entity-paragraphs-item.paragraphs-item-image .overlay-wrapper a {
    color: #fff;
}
.entity.entity-paragraphs-item.paragraphs-item-image .overlay-wrapper p {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
    margin: 0px 0px 5px 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-out;
}
.entity.entity-paragraphs-item.paragraphs-item-image:hover .overlay-wrapper p {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.entity.entity-paragraphs-item.paragraphs-item-image {
    width: 31.5%;
    float: left;
    margin-right: 1.5%;
    margin-bottom: 15px;
}
.field-item:nth-child(3n+4) .entity.entity-paragraphs-item.paragraphs-item-image {}

@media (max-width: 768px) {
    .entity.entity-paragraphs-item.paragraphs-item-image {
        width: 48.5%;
    }
    .field-item.odd .entity.entity-paragraphs-item.paragraphs-item-image {
        clear: left;
    }
}
@media (max-width: 500px) {
    .entity.entity-paragraphs-item.paragraphs-item-image {
        width: 100%!important;
        float: none!important;
        margin-right: 0%!important;
    }
}

/* =========== GLOSSARY ============*/
/* =========== BA: Styling glossary ============*/
ul.facetapi-search-api-glossary li {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 4px;
    border: 1px solid #676C5F;
  }
ul.facetapi-search-api-glossary li:hover {
    background-color: #A4AD5F;
  }
ul.facetapi-search-api-glossary a:hover {
    color: #ffffff;
  }

/* =========== BA: Copy for Mike's Policy support background block for glossary page  ============ */
.page-node-16454 .background-wrapper .page-header {
    padding: 10px 15px;
    margin: 20px 0 15px;
    border-bottom: none;
    background: #fff;
}
.page-node-16454 .breadcrumb {
    margin-top: 15px
}
.page-node-16454 .region-help .block.block-views {
    background: #fff;
    padding: 15px 15px 0 15px;
    margin: 15px 0
}

.page-node-16454 .background-wrapper {
    background: url('../img/glossary_books-2253569_1280.jpg') no-repeat center center fixed;
    padding: 0 0 15px 0
}

/* --- filters for glossary page (node 16454) --- */
#views-exposed-form-glossary-index-panel-pane-1 .views-widget-filter-field_policy_support_type .form-type-bef-checkbox {
    display: inline-block;
    padding-right: 0.66em;
}
#views-exposed-form-glossary-index-panel-pane-1 .panel-default>.panel-heading {
    font-size: 14px;
}
#views-exposed-form-glossary-index-panel-pane-1 .panel {
    margin-bottom: 5px;
}
#views-exposed-form-glossary-index-panel-pane-1 .bef-select-as-checkboxes-fieldset .panel-body {
    padding: 5px
}
#views-exposed-form-glossary-index-panel-pane-1 .views-exposed-form .bef-checkboxes * {
    font-weight: normal;
    font-size: 13px;
}
#views-exposed-form-glossary-index-panel-pane-1 .views-widget-filter-search_api_views_fulltext {
    clear: both;
    width: 85%;
    padding: 0em 1em 0 0;
}
#views-exposed-form-glossary-index-panel-pane-1 .views-exposed-widgets {
    position: relative;
}
#views-exposed-form-glossary-index-panel-pane-1 .views-submit-button,
#views-exposed-form-glossary-index-panel-pane-1 .views-reset-button {
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 85%;
}
#views-exposed-form-glossary-index-panel-pane-1 .views-reset-button {
    left: 90%;
}
@media (max-width: 990px) {
    #views-exposed-form-glossary-index-panel-pane-1 .views-widget-filter-search_api_views_fulltext {
        width: 80%;
    }
    #views-exposed-form-glossary-index-panel-pane-1 .views-submit-button {
        left: 81%;
    }
    #views-exposed-form-glossary-index-panel-pane-1 .views-reset-button {
        left: 90%;
    }
}
@media (max-width: 600px) {
    #views-exposed-form-glossary-index-panel-pane-1 .views-widget-filter-search_api_views_fulltext {
        width: 70%;
    }
    #views-exposed-form-glossary-index-panel-pane-1 .views-submit-button {
        left: 71%;
    }
    #views-exposed-form-glossary-index-panel-pane-1 .views-reset-button {
        left: auto;
        right: 0;
    }
}

/* =========== BA: Copy for Mike's Policy support background block for community of practice page (node 16492)  ============ */
.page-node-16492 .background-wrapper .page-header {
    padding: 10px 15px;
    margin: 20px 0 15px;
    border-bottom: none;
    background: #fff;
  }
.page-node-16492 .breadcrumb {
    margin-top: 15px;
  }
.page-node-16492 .region-help .block.block-views {
    background: #fff;
    padding: 15px 15px 0 15px;
    margin: 15px 0;
  }
.page-node-16492 .background-wrapper {
    background: url('../img/Planet-Earth-BG.jpg') no-repeat center center fixed;
    padding: 0 0 15px 0;
  }

/* =========== MS: supplementary_material view ============ */
.view-supplementary-material.view-display-id-panel_pane_1  .view-grouping-header  h2   {font-size:125%;margin: 0px 0 10px 0}

.view-supplementary-material.view-display-id-panel_pane_1  .view-grouping-header  h3   {font-size:110%;margin: 10px 0 5px 0}

.view-supplementary-material.view-display-id-panel_pane_1  .view-grouping-envelope   {padding-top:10px}

.view-supplementary-material.view-display-id-panel_pane_1  .view-grouping-envelope .view-grouping-envelope   {padding:0}

.view-supplementary-material.view-display-id-panel_pane_1  .documents-group .fa {line-height:1}

/*/ === MS: Custom expanding fieldsets === /*/
fieldset.custom-expander {
    border: none;
}

fieldset.custom-expander legend {
    font-size: 18px;
    float: none;
    line-height: auto;
}

fieldset.custom-expander .inner-wrapper {
  border: 1px solid #c2e0e0;
  border-top: none;
  padding: 10px 15px;
}

fieldset.custom-expander {
  border: none;
}

fieldset.custom-expander legend {
  font-size: 16px;
}
fieldset.custom-expander legend a:focus {
  text-decoration: none;
}
fieldset.custom-expander legend a[class=""] {
  padding-left: 0.85em;
  background: url(/misc/menu-expanded.png) 5px 65% no-repeat;
}
fieldset.custom-expander legend a:not([class]),
fieldset.custom-expander legend a.collapsed {
  padding-left: 0.85em;
  background: url(/misc/menu-collapsed.png) 5px 50% no-repeat;
}
fieldset.custom-expander .inner-wrapper .btn {
  float: right;
}
fieldset.custom-expander br {
  display: none;
}

#views-exposed-form-community-practice-profiles-panel-pane-1 .form-control,
#views-exposed-form-policy-support-index-test-page .form-control {
  width: auto;
  display: inline-block;
  height: auto;
  border: 0px;
  box-shadow: none;

  &.form-text {
    width: 100%;
    border: 1px solid #ccc;
  }
}

/*/ === MS: Policy support get started block === /*/
.get-started-block {
    background: #fff;
    // margin: -20px 0 15px 0;
    margin: 0px;
  }
.get-started-block fieldset.custom-expander .inner-wrapper {
    padding: 1px 10px 1px 25px;
    border: none;
  }
.get-started-block fieldset.custom-expander legend {
    padding: 5px 10px;
    font-weight: bold;
  }
.get-started-block fieldset.custom-expander p {
    font-size: 14px;
    margin: 0 0 0.5em 0;
  }
/*/ === MS: Revert policy support search btn to text === /*/
#views-exposed-form-policy-support-index-test-page .views-exposed-widget.views-submit-button input,
#views-exposed-form-policy-support-index-test-page .views-exposed-widget.views-submit-button input:hover {
    background-color: #676C5F;
    background-image: none !important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%!important;
    background-size: 1em!important;
    text-indent: 0;
    padding-left: 1em;
    padding-right: 1em;
  }

#views-exposed-form-policy-support-index-test-page .views-reset-button {
    left: 93%;
  }
@media (max-width: 600px) {
    #views-exposed-form-policy-support-index-test-page .views-reset-button {
        left: 90%;
        right: auto;
      }
    }
